<?xml version="1.0"?>

<!-- General setup environemnt -->

<launch>

    <!-- Load ur5 driver which will load robot description to parameter server-->
    <arg name="robot_ip" default="192.168.53.3"/>
    <include file="$(find environment_manager)/launch/ur5_ft_bringup_driver.launch">
        <arg name="robot_ip" default="192.168.53.3"/>
    </include>


    <!-- Start move group from moveit-->
    <include file="$(find ur5_ft_moveit_config)/launch/move_group.launch"/>

    
    <!-- Run rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find environment_manager)/config/rviz_mount_moveit.rviz" respawn="false" output="screen"/>
    
</launch>
